header {
  background-color: #1f2937;
}
.container {
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin: 0;
  font-size: 24px;
  color: #f9faf8;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding: 0 5px;
  font-size: 18px;
  color: #e5e7eb;
}
