header {
  background-color: #1f2937;
}
.header-container {
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin: 0;
  font-size: 24px;
  color: #f9faf8;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding: 0 5px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-section {
  background-color: #1f2937;
}
.hero-container {
  display: flex;
  margin: 0 10%;
  padding: 10% 0;
  align-items: center;
  /* border: 1px solid white; */
}

.hero-text {
  width: 50%;
  /* border: 1px solid white; */
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text button {
  padding: 5px 25px;
  border-radius: 5px;
  border-color: #3882f6;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
}

#image-placeholder {
  margin-left: 5%;
  width: 50%;
  height: 313px;
  background-color: hsl(0, 0%, 60%);
}

#image-placeholder p {
  margin-top: 20%;
  text-align: center;
  color: #e5e7eb;
}

#info-header {
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 36px;
  text-align: center;
  color: #1f2937;
}

.info-section {
  padding-bottom: 5%;
}

.placeholder-images {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.placeholder-image {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.captions {
  display: flex;
  font-size: 14px;
  justify-content: center;
  gap: 20px;
}

.quote-section {
  display: flex;
  padding-bottom: 3%;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

blockquote {
  margin: 5% 25% 0 25%;
  font-size: 36px;
}

figcaption {
  margin-right: 25%;
  text-align: right;
}
